# Optimization reports
*.optrpt
*.opt.yaml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ours_CPU/bin/**
ours_CPU/results/**
ours_CPU/FT/npbparams.h
ours_CPU/sys/setparams

ours_GPU/bin/**
ours_GPU/results/**
ours_GPU/FT/npbparams.h
ours_GPU/sys/setparams

reference/bin/**
reference/results/**
reference/FT/npbparams.hpp
reference/sys/setparams